<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Semi-Restful TV Shows</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
        {% load static %}
        <link rel="stylesheet" href="{% static 'tv_shows.css' %}">
    </head>

    <body>
        <div class="container">
            <h1>All Shows</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Network</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in show_list%}
                    <tr class="text-primary" name="erase">
                        <th scope="row">{{show.id}}</th>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <td>{{show.release_date}}</td>
                        <td><a href="/shows/{{show.id}}">Show</a> | <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/delete/{{show.id}}" name="erase">Delete</a>
                            </form>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <a href="/shows/new">Add a New Show</a>

        
        </div>
    </body>
</html>
