* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: aqua;
    width: 1000px;
    height: auto;
}

    a {
        text-decoration: underline;
        font-size: 20px;
    }

    .top {
        width: 980px;
        display: flex;
        justify-content: space-between;
    }