* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: rgb(233, 235, 235);
    width: 1240px;
    height: auto;
    margin-top: 60px;
}

a {
    text-decoration: underline;
    font-size: 20px;
}